*, *::before, *::after{
    margin:0;
    padding:0;
    box-sizing: border-box;

}



html {
    font-size: 62.5%;
}

main {
   
}





body {
    font-family: sans-serif;
    font-size: 1.6rem;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 75rem;  
    width: 30rem;
    height: 30rem;
}

.header {
    background: #f4e4dc;
    padding: 2rem;
    display: flex;
    list-style: none;
    height: 15rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}



.headerPP1 {
    color: #9b9b9b;
    letter-spacing: 0.3rem;
    text-decoration: none;
}

.headerPP2 {
    color: #9b9b9b;
    letter-spacing: 0.3rem;
    text-decoration: none;
}

nav {
    width: 60vw;
    height: 100%;
    margin: 0 auto;
}

nav>ul {
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
}



.slogan {
    width: 100%;
    height: 80vh;
    background: grey;
    display: flex;
    align-items: center;
    justify-content: row;
    background: #FFF;
    overflow: auto;
}

.sloganTitle {
    font-size: 8rem;
    margin-left: 7rem;
    letter-spacing: 0.3rem;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    color: #9b9b9b;
}

.sloganButton {
    background-color: lightgreen;
    margin-top: 7rem;
    margin-left: 7rem;
    border: none;
    font-size: 5rem;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: black;
    font-weight: 700;

}

.slogan>.sloganItems {
    list-style: none;
    align-items: center;
    justify-content: center;
}

.sloganImage {
    height: 45rem;
    margin-left: 25rem;
    width: auto;
    object-fit: contain;
    display: flex;
    justify-content: center;
    border-radius: 2rem;
}


.welcome {
    background-color: #F4E4DC;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding:3rem;
}

.welcomeContent {
    display: flex;
    gap:30rem;
    
   
    
    
}


.welcomeImage {
    display: flex;
    left:0;
    height: 45rem;
    width: auto;
    border-radius: 0.5rem;
    
    
}


.welcomeText {
    display:flex;
    flex-direction:column;
    align-items: center;
    padding:2rem
}

.welcomeTitle{
    font-size:3rem;
    letter-spacing: 0.3rem;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    color: #9b9b9b;
}

.welcomeDesc{
    color: #000000;
    font-weight: 600;
    font-style: normal;
    font-size:7rem;
    padding:7rem;
    
   
}


.welcomeButton{
    background-color: lightgreen;
    border: none;
    font-size: 4.5rem;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: 700;

}

.recommendation {
    margin-top: 2rem;
    height: 50rem;
    background-color: white;
}

.recommendationTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-family: Montserrat, 'MS Sans Serif', Geneva, sans-serif;
    color: #9b9b9b;
    letter-spacing: 0.3rem;
}

.recommendationText {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.6rem;
    font-family: Montserrat, 'MS Sans Serif', Geneva, sans-serif;
    color: #000000;
    font-weight: 600;
    font-style: normal;
}


.recommendedImages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.recommendedItem {
    padding: 2rem;
    height:45rem;
    width:30rem;
   
}

.allItemsButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: black;
    background-color: #F4E4DC;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    height: 10rem;
    margin-top: 4rem;
    margin-bottom: 4rem;

}

.tutorial {
    margin-top:3rem;
    height: 80vh;
    background: #F4E4DC;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.tutorialTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30rem;
    font-size: 3rem;
    font-family: Montserrat, 'MS Sans Serif', Geneva, sans-serif;
    color: #9b9b9b;
    letter-spacing: 0.6rem;
}


.tutSteps {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40rem;
    list-style: none;



}


.productHighlight{
    margin-top:2rem;
    height: 50rem;
    background-color: #F4E4DC;
    display: flex;
    justify-content: center;
    align-items: center;
}




.reviewSection {
    margin-top: 2rem;
    background: white;
    display: flex;
    height: auto;
    padding: 4rem;
    align-items: center;
}

.arrow {
    width: 10%;
    background: white;
    font-size: 300%;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.reviewsTitle{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    color: #9b9b9b;
}

.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 2rem;
    width: 80%;
    flex-wrap: wrap;
}

.review {

    width: 30rem;
    min-height: 20rem;
    background: darkred;
    list-style: none;
    padding: 4rem;
    border-radius: 0.5rem;
    background: white;
    box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.2),
        inset 0 -1rem 1rem -1rem rgba(0, 0, 0, 0.1);
    position: relative;
    animation-name: fadeIn;
    animation-duration: 0.8s;
}

.review:nth-of-type(4),
.review:nth-of-type(5),
.review:nth-of-type(6) {
    display: none;
}

.reviewImage {
    position: absolute;
    top: 0;
    left: 40%;
    width: 7rem;
    height: 7rem;
}


.quote {
    font-size: 500%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    line-height: 0.5;
}

.stars {
    margin-top: 4rem;
    color: gold;
}

.review p {
    font-size: 65%;
    font-style: italic;
    padding-bottom: 2rem;
    border-bottom: 0.5rem solid rgba(0, 0, 0, 0.2);
}


@keyframes fadeIn {
    from {
        opacity: 0;
        filter: blur(10px);
    }

    to {
        opacity: 1;
        filter: blur(0);
    }
}

@media screen and (max-width: 50rem) {
    .arrow {
        display: none;
    }

    .reviews {
        width: 100%;
    }
}





.footer {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    height: 20vh;
    background-color: #F4E4DC;
    padding-top: 3rem;

}

.infoTitle {
    font-family: Montserrat;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    padding-bottom: 0.4rem;
    text-decoration: underline;
}

.infoText {
    font-size: 1.5rem;
    margin-top: 2rem;
    text-transform: none;
    text-decoration: solid;
}

.shopTitle {
    font-family: Montserrat;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    padding-bottom: 0.4rem;
    text-decoration: underline;
}

.shopText {
    display: block;
    font-size: 2rem;
    margin-top: 2rem;
    text-transform: none;
    text-decoration: solid;
    text-decoration: none;
    color: black;
}